.login-container {
    width: 100%;
    align-items: center;
    /* background-color: bisque; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10%;
}

.login-container .login {
    background: rgb(9, 7, 73);
    background: linear-gradient(90deg, rgba(9, 7, 73, 0.9164040616246498) 75%, rgba(0, 58, 175, 0.7763480392156863) 75%);
    display: flex;
    padding: 2rem;
    border-radius: 1rem;
}

.login-container .login .buttons {
    /* background: var(--color-box-secoundary); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 1.5rem;
}

.login-container .login .buttons button {
    /* background: var(--color-box-secoundary); */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: futura, sans-serif;
    background-color: var(--color-box-secoundary);
    color: var(--color-text-base);
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}

.login-container .login .buttons button + button {
    margin-top: 2rem;
}

.login-container .login .content {
    /* background: var(--color-box-secoundary); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container .login .content .btn-register {
    width: 100%;
    background-color: var(--color-box-secoundary);
    border: none;
    border-radius: 0.4rem;
    padding: 5px 10px 5px 10px;
}

.login-container .login .content .forgot-link {
    color: var(--color-text-base);
    font-family: futura, sans-serif;
    text-decoration: none;
}

.login-container .login .content .footer {
    display: flex;
    align-items: center;
}