.section-about .bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem;
}

.section-about .bio h1 {
    max-width: 30rem;
    font-family: 400 futura, sans-serif;
    /* font-weight: 700; */
    color: var(--color-text-primary);
}

.section-about .bio p {
    margin-top: 1.2rem;
    text-align: justify;
    font-family: 400 futura, sans-serif;
}

.section-about .image {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    padding: 1.2rem 4rem 1rem 4rem;
}

.section-about .img {
    position: relative;
}